.kotak{
    width: 300px;
    height: 50px;
    background-color: rgb(65, 201, 135);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}