.wadah{
    position: relative;
}
.bg{
    width: 100%;
    height: auto; 
    display: block; 
    opacity: 50%;
    mask-image: linear-gradient(to bottom, black 50%, transparent);
    object-fit: cover;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-145%, -250%);
}
body { 
    margin: 0;
    padding: 0;
}
.profil {
    max-width: 400px;
    margin: 1px auto;
    text-align: center;
    padding: 0 10px;
}
.profil h4 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color:brown
}
.profil h4::after{
    content:"";
    display:block;
    width:100px;
    height:2px;
    background: linear-gradient(to right, black, brown, red);
    margin: 2px auto 0;
    border-radius: 100px;
    transition: width 0.4s ease;
    margin-bottom: 15px;
}
.profil p {
    font-size: 10px;
    line-height: 1.5;
    color: rgb(95, 15, 15);
    font-weight: 400;
    margin-bottom: 30px;
}
.kartu{
    display:flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    margin-bottom: 10px;
    background: rgb(249, 227, 227);
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.nomor {
    min-width: 30px;
    height: 30px;

    background: #c62828;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    font-weight: bold;
    border-radius: 9px;
}
.kartu p {
    margin: 0;
    font-size: 9px;
    line-height: 1.5;
}
.kartu:hover{
    box-shadow: 0px 1px 15px #340303b3;
    transform: scale(1.01);
    transition: 0.3s;
}
.pengurus {
    width:60%;
    margin: 0 auto;
    height: 40px;
    background: brown;
    color: rgb(249, 227, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 40px;
    letter-spacing: 1px;
    box-shadow: 0px 3px 15px #340303b3;
    margin-bottom: 1px;
}

.kotak-perkenalan {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 900px;
    margin: 30px auto;
    background-color: #f7a3a3;
    padding: 25px;
    border-radius: 15px;
    width:75%;
    max-width: 1000px;
    margin-top: 20px;
    justify-content: center;
}
.kotak-individu{
    background-color: rgb(243, 225, 225);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}
.kotak-individu:hover{
    box-shadow: 0px 3px 15px #340303b3;
    transform: scale(1.05);
    transition: 0.3s;
}
.foto-pengurus{
    width:120px;
    border-radius: 8px;
    margin-bottom: 1px;
}
.nama-pengurus{
    font-size: 11px;
    font-weight: bold;
    margin: 10px 0 2px 0;
    color: brown;
}
.nim-pengurus {
    margin: 2px 0 2px 0;
    color: #666;
    font-size: 10px;
}