.wadah{
    position: relative;
}
.bg{
    width: 100%;
    height: auto; 
    display: block; 
    opacity: 50%;
    mask-image: linear-gradient(to bottom, black 50%, transparent);
    object-fit: cover;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-140%, -240%);
}
body { 
    margin: 0;
    padding: 0;
}
.profil {
    max-width: 400px;
    margin: 1px auto;
    text-align: center;
    padding: 0 10px;
}
.profil h4 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color:brown
}
.profil h4::after{
    content:"";
    display:block;
    width:100px;
    height:2px;
    background: linear-gradient(to right, black, brown, red);
    margin: 2px auto 0;
    border-radius: 100px;
    transition: width 0.4s ease;
}
.profil p{
    font-size: 10px;
    line-height: 1.5;
    color: rgb(95, 15, 15);
    font-weight: 400;
    margin-bottom: 30px;
}