.wadah{
    position: relative;
}
.bg{
    width: 100%;
    height: auto; 
    display: block; 
    opacity: 50%;
    mask-image: linear-gradient(to bottom, black 50%, transparent);
    object-fit: cover;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-170%, -290%);
}
body { 
    margin: 0;
    padding: 0;
}